
/* UTILITIES */
/* font-size */
.fs-45px{
    font-size: 45px;
}
.fs-40px{
    font-size: 40px;
}
.mx-w{
    max-width: 650px;
}
.radius-15{
    border-radius: 15px;
}
/* .border-black{
 border: 1px solid black;
} */
/*  */


/* HOVER */
/* 4°section */
.section-four .section-four-mini-pic{
    opacity: 0.5;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: all 0.2s;
}
.section-four .section-four-mini-pic:hover{
    opacity: 1;
}
.section-four .section-four-mini-pic:focus{
    opacity: 1;
    border-bottom: 3px solid #0d6efd;
}

/* button */
.btn-outlin:hover{
    outline: 2px solid;
    outline-offset: 2px;
}

.section-four-text .btn-outlin{
    outline-color: #0d6efd;
}

header{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
